NA = N/A
NO_DATA_SELECTED = 未选择数据.
CONNECT = 连接
DISCONNECT = 断开
CUSTOM_CONNECT = 自定义连接
SERVER_INFO = 服务器信息\:
SERVER_USER = 用户名\:
SERVER_IP = 用户IP\:
SERVER_PORT = 服务器端口\:
SERVER_DATABASE = 数据库\:
LOAD_CONFIG = 负载配置
SAVE_CONFIG = 保存配置
HELP = 救命
CLEAR_SELECTION = 清空选项
TABLE_INFO = 所选表信息\:
TABLE_CREATOR = 创作作者\:
TABLE_DELETOR = 删除作者\:
TABLE_CREATION_DATE = 创立日期\:
TABLE_DELETION_DATE = 删除日期\:
INSERTIONS = 插入\:
UPDATES = 更新\:
VIEWS = 选择项\:
DELETIONS = 删除项\:
ALL_TABLES = 所有表\:
ALL_USERS_IP = 所有用户（IP）\:
ALL_USERS_USERNAME = 所有用户（用户名）\:
SELECTED_TABLES = 选定的用户表\:
SELECTED_USERS_IP = 所选表格用户（IP）\:
SELECTED_USERS_USERNAME = 所选表的用户（用户名）\:
EXIT = 出口
SETTINGS = 设定值
APLICCATION_THEME = 应用主题
DARK_THEME = 黑暗
LIGHT_THEME = 光
APPLICATION_LANGUAGE = 应用语言
SL_LANGUAGE = Slovenski
EN_LANGUAGE = English
DE_LANGUAGE = Deutsch
JP_LANGUAGE = 日本
CN_LANGUAGE = 中文
RU_LANGUAGE = русский
CUSTOM_CONNECTION_PROMPT_TITLE = 自定义连接
USERNAME_PROMPT = 输入用户名\:
PASSWORD_PROMPT = 输入密码\:
IP_PROMOT = 输入服务器IP（无端口）\:
PORT_PROMPT = 输入服务器端口\:
DATABASE_PROMPT = 输入数据库名称\:
CONNECTION_STATUS = 连接状态
INSERTION_TOOLTIP = 表格显示所选表格中的所有插入或所选用户的所有插入
DELETION_TOOLTIP = 表格显示所选表格中的所有删除或所选用户的所有删除
UPDATE_TOOLTIP = 表格显示所选表格中的所有更新或所选用户的所有更新
VIEW_TOOLTIP = 表格显示所选表格中的所有选择或所选用户的所有选择
CONNECT_TOOLTIP = 连接到数据库
DISCONNECT_TOOLTIP = 与数据库断开连接
CUSTOM_CONNECT_TOOLTIP = 打开用于自定义连接的窗口
LOAD_CONFIG_TOOLTIP = 从所选文件加载配置
SAVE_CONFIG_TOOLTIP = 将配置保存在所选文件中
HELP_TOOLTIP = 打开帮助窗口
CLEAR_TOOLTIP = 清除所选数据
SAVE_CONFIG_PROMPT = 配置成功保存
LOAD_CONFIG_PROMPT = 配置成功加载
FILE_ERROR = 执行该操作时发生错误。
CONNECTION_ERROR = 您已经连接！
CONNECTION_SUCCESSFUL = 连接已建立！
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = 时间和日期\:
CONTENT = 内容\:
FILE_TYPE_NAME = CFG 档案 (*.cfg)
FILE_TYPE_EXTENSION = *.cfg
