NA = N/A
NO_DATA_SELECTED = Kein Daten Ausgewählt .
CONNECT = Verbinden
DISCONNECT = Trennen
CUSTOM_CONNECT = Kundenspezifisch
SERVER_INFO = Server Informationen\:
SERVER_USER = Username\:
SERVER_IP = Benutzers IP\:
SERVER_PORT = Server Port\:
SERVER_DATABASE = Datenbank\:
LOAD_CONFIG = Lade Anordnung
SAVE_CONFIG = Sichere Anordnung
HELP = Hilfe
CLEAR_SELECTION = lösche Auswahlung
TABLE_INFO = Auswählte Tabelles Informationen\:
TABLE_CREATOR = Erschaffungsautor\:
TABLE_DELETOR = Löschungsautor\:
TABLE_CREATION_DATE = Erschaffungsdatum\:
TABLE_DELETION_DATE = Löschungsatum\:
INSERTIONS = Einlegen\:
UPDATES = Aktualisierungen\:
VIEWS = Auswahlen\:
DELETIONS = Löschungen\:
ALL_TABLES = Alle Tebellen\:
ALL_USERS_IP = Alle Benutzer (IP)\:
ALL_USERS_USERNAME = Alle Benutzer (Username)\:
SELECTED_TABLES = Ausgewählte Benutzers Tabellen\:
SELECTED_USERS_IP = Benutzer der ausgewählten Tabelle (IP)\:
SELECTED_USERS_USERNAME = Benutzer der ausgewählten Tabelle (Username)\:
EXIT = Ausgang
SETTINGS = Einstellungen
APLICCATION_THEME = Anwendungsthema
DARK_THEME = dunkel
LIGHT_THEME = hell
APPLICATION_LANGUAGE = Sprachhe
SL_LANGUAGE = Slovenski
EN_LANGUAGE = English
DE_LANGUAGE = Deutsch
JP_LANGUAGE = 日本
CN_LANGUAGE = 中文
RU_LANGUAGE = русский
CUSTOM_CONNECTION_PROMPT_TITLE = Kundenspezifisch Verbindung
USERNAME_PROMPT = Gib username ein\:
PASSWORD_PROMPT = Gib Passwort ein\:
IP_PROMOT = Gib Server IP ein (kein Port)\:
PORT_PROMPT = Gib Server Port ein\:
DATABASE_PROMPT = Gib Dateibank Name ein\:
CONNECTION_STATUS = Verbindungsstatus
INSERTION_TOOLTIP = Alle Einlegen in der auswählt Tabelle oder von der auswählt Benutzer zeigen
DELETION_TOOLTIP = Alle Löschungen in der auswählt Tabelle oder von der auswählt Benutzer zeigen
UPDATE_TOOLTIP = Alle Aktualisierungen in der auswählt Tabelle oder von der auswählt Benutzer zeigen
VIEW_TOOLTIP =Alle Auswahlen in der auswählt Tabelle oder von der auswählt Benutzer zeigen
CONNECT_TOOLTIP = Verbindet sich mit der Datenbank
DISCONNECT_TOOLTIP = Trennen sich mit der Datenbank
CUSTOM_CONNECT_TOOLTIP = Ein Kundenspezifich Verbindung macht
LOAD_CONFIG_TOOLTIP = Lädt die Anordnung aus der auswählten Datei
SAVE_CONFIG_TOOLTIP = Sichert die Anordnung in der auswählten Datei
HELP_TOOLTIP = Öffnet das Hilfe-Fenster
CLEAR_TOOLTIP = Löscht die ausgewählten Daten
SAVE_CONFIG_PROMPT = Anordnung sichert
LOAD_CONFIG_PROMPT = Anordnung geladen
FILE_ERROR = Ein Fehler hast auf getreten
CONNECTION_ERROR = Sie sind getrennt!
CONNECTION_SUCCESSFUL = Verbinding gegründet
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = Uhrzeit ond Datum\:
CONTENT = Gehalt\:
FILE_TYPE_NAME = CFG Daten (*.cfg)
FILE_TYPE_EXTENSION = *.cfg