NA = N/A
NO_DATA_SELECTED = No data selected.
CONNECT = Connect
DISCONNECT = Disconnect
CUSTOM_CONNECT = Custom connection
SERVER_INFO = Server info\:
SERVER_USER = Username\:
SERVER_IP = User IP\:
SERVER_PORT = Server port\:
SERVER_DATABASE = Database\:
LOAD_CONFIG = Load configuration
SAVE_CONFIG = Save configuration
HELP = Help
CLEAR_SELECTION = Clear selection
TABLE_INFO = Selected table info\:
TABLE_CREATOR = Creation author\:
TABLE_DELETOR = Deletion author\:
TABLE_CREATION_DATE = Creation date\:
TABLE_DELETION_DATE = Deletion date\:
INSERTIONS = Insertions\:
UPDATES = Updates\:
VIEWS = Selections\:
DELETIONS = Deletions\:
ALL_TABLES = All tables\:
ALL_USERS_IP = All users (IP)\:
ALL_USERS_USERNAME = All users (username)\:
SELECTED_TABLES = Selected user tables\:
SELECTED_USERS_IP = Selected table users (IP)\:
SELECTED_USERS_USERNAME = Selected table users (username)\:
EXIT = Exit
SETTINGS = Settings
APLICCATION_THEME = Application theme
DARK_THEME = Dark
LIGHT_THEME = Light
APPLICATION_LANGUAGE = Application language
SL_LANGUAGE = Slovenski
EN_LANGUAGE = English
DE_LANGUAGE = Deutsch
JP_LANGUAGE = 日本
CN_LANGUAGE = 中文
RU_LANGUAGE = русский
CUSTOM_CONNECTION_PROMPT_TITLE = Custom connection
USERNAME_PROMPT = Enter username\:
PASSWORD_PROMPT = Enter password\:
IP_PROMOT = Enter server ip (no port)\:
PORT_PROMPT = Enter server port\:
DATABASE_PROMPT = Enter database name\:
CONNECTION_STATUS = Connection status
INSERTION_TOOLTIP = Table shows all insertions in selected table or all insertions of selected user
DELETION_TOOLTIP = Table shows all deletions in selected table or all deletions of selected user
UPDATE_TOOLTIP = Table shows all updates in selected table or all updates of selected user
VIEW_TOOLTIP = Table shows all selections in selected table or all selections of selected user
CONNECT_TOOLTIP = Connects to the database
DISCONNECT_TOOLTIP = Disconnects from the database
CUSTOM_CONNECT_TOOLTIP = Opens the window for for custom connection
LOAD_CONFIG_TOOLTIP = Loads the configuration from the selected file
SAVE_CONFIG_TOOLTIP = Saves the configuration in the selected file
HELP_TOOLTIP = Opens the help window
CLEAR_TOOLTIP = Clears the selected data
SAVE_CONFIG_PROMPT = Configuration saved successfully
LOAD_CONFIG_PROMPT = Configuration loaded successfully
FILE_ERROR = An error has occurred while performing the operation
CONNECTION_ERROR = You are already connected!
CONNECTION_SUCCESSFUL = Connection established!
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = Time and date\:
CONTENT = Content\:
FILE_TYPE_NAME = CFG files (*.cfg)
FILE_TYPE_EXTENSION = *.cfg
