NA = N/A
NO_DATA_SELECTED = Podatci nisu bili još odabrani.
CONNECT = Poveži se
DISCONNECT = Prekidaj vezu
CUSTOM_CONNECT = Prilagođena veza
SERVER_INFO = Informacije o poslužitelje\:
SERVER_USER = Koristnik\:
SERVER_IP = IP poslužitelja\:
SERVER_PORT = Vrata poslužitelja\:
SERVER_DATABASE = Baza podataka\:
LOAD_CONFIG = Učitaj konfiguraciju
SAVE_CONFIG = Spremi konfigurac...
HELP = Pomoć
CLEAR_SELECTION = Počisti odabir
TABLE_INFO = Informacije o odabrani tabeli\:
TABLE_CREATOR = Autor kreacije\:
TABLE_DELETOR = Autor brisanja\:
TABLE_CREATION_DATE = Datum formacije\:
TABLE_DELETION_DATE = Datum brisanja\:
INSERTIONS =Umetci\:
UPDATES = Ažuriranja\:
VIEWS = Pogledi\:
DELETIONS = Brisanja\:
ALL_TABLES = Sve tabele\:
ALL_USERS_IP = Svi koristniki (IP)\:
ALL_USERS_USERNAME = Svi koristniki (Koristničko ime)\:
SELECTED_TABLES = Tabele odabranog koristnika\:
SELECTED_USERS_IP = Koristniki odabrane tabele (IP)\:
SELECTED_USERS_USERNAME = Koristniki odabrane tabele (koristničko ime)\:
EXIT = Izlaz
SETTINGS = Postavke
APLICCATION_THEME = Tema aplikacije
DARK_THEME = Tamno
LIGHT_THEME = Svjetlo
APPLICATION_LANGUAGE = Jezik aplikacije
SL_LANGUAGE = Slovenščina
EN_LANGUAGE = English
DE_LANGUAGE = Deutsch
JP_LANGUAGE = 日本
CN_LANGUAGE = 中文
RU_LANGUAGE = русский
HR_LANGUAGE = Hrvatski
KC_LANGUAGE = Mistični
CUSTOM_CONNECTION_PROMPT_TITLE = Prilagođena veza
USERNAME_PROMPT = Unesi koristničko ime\:
PASSWORD_PROMPT = Unesi zaporku\:
IP_PROMOT =Unesi ip naslov poslužitelja (bez vrat)\:
PORT_PROMPT = Unesi vrata poslužitelja\:
DATABASE_PROMPT = unesi ime baze podataka\:
CONNECTION_STATUS = Stanje povezave
INSERTION_TOOLTIP = Tabela prikazuje sve umetke u odabranoj tabeli ili sve umetke
DELETION_TOOLTIP = Tabela prikazuje sva brisanja v odabranoj tabeli ili sva brisanja
UPDATE_TOOLTIP = Tabela prikazuje sva ažuriranja v odabranoj tabeli ili sva ažuriranja odabranog
VIEW_TOOLTIP = Tabela prikazuje sva gledanja u odabranoj tabeli ili sva gledanja odabranog
CONNECT_TOOLTIP = Uspostavi vezu sa bazo podataka
DISCONNECT_TOOLTIP = Prekida vezu sa bazo podataka
CUSTOM_CONNECT_TOOLTIP = Odtvori prozor za unos podataka za prilagođenu vezu
LOAD_CONFIG_TOOLTIP = Učitaj konfiguraciju iz odabrane datoteke
SAVE_CONFIG_TOOLTIP = Spremi trenutnu konfiguraciju v datoteko
HELP_TOOLTIP = Prikazuje prozor za pomoć koristniku
CLEAR_TOOLTIP = Briše odabrane podatke
SAVE_CONFIG_PROMPT = Konfiguracija uspješno spremljena
LOAD_CONFIG_PROMPT = Konfiguracija uspješno učitana
FILE_ERROR = Došlo je do pogreške tijekom izvođenja željene operacije
CONNECTION_ERROR = Veza je već uspostavljena!
CONNECTION_SUCCESSFUL = Veza je uspješno uspostavljena!
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = Vrijeme i datum\:
CONTENT = Sadržaj\:
FILE_TYPE_NAME = CFG datoteke (*.cfg)
FILE_TYPE_EXTENSION = *.cfg
