NA = N/A
NO_DATA_SELECTED = データが選択されていません.
CONNECT = 接続する
DISCONNECT = 切断する
CUSTOM_CONNECT = カスタム接続
SERVER_INFO = サーバー情報\:
SERVER_USER = ユーザー名\:
SERVER_IP = ユーザーIP\:
SERVER_PORT = サーバポート\:
SERVER_DATABASE = データベース\:
LOAD_CONFIG = 構成のロード
SAVE_CONFIG = 構成を保存する
HELP = 助けて
CLEAR_SELECTION = 明確な選択
TABLE_INFO = 選択したテーブル情報\:
TABLE_CREATOR = 作成者\:
TABLE_DELETOR = 削除者\:
TABLE_CREATION_DATE = 作成日\:
TABLE_DELETION_DATE = 削除日\:
INSERTIONS = 挿入\:
UPDATES = 更新\:
VIEWS = セレクション\:
DELETIONS = 削除\:
ALL_TABLES = すべてのテーブル\:
ALL_USERS_IP = すべてのユーザー（IP）\:
ALL_USERS_USERNAME = すべてのユーザー（ユーザー名）\:
SELECTED_TABLES = 選択したユーザーテーブル\:
SELECTED_USERS_IP = 選択したテーブルユーザー（IP）\:
SELECTED_USERS_USERNAME = 選択したテーブルユーザー（ユーザー名）\:
EXIT = 出口
SETTINGS = 設定
APLICCATION_THEME = アプリケーションのテーマ
DARK_THEME = 闇
LIGHT_THEME = 光
APPLICATION_LANGUAGE = アプリケーション言語
SL_LANGUAGE = Slovenski
EN_LANGUAGE = English
DE_LANGUAGE = Deutsch
JP_LANGUAGE = 日本人
CN_LANGUAGE = 中文
RU_LANGUAGE = русский
CUSTOM_CONNECTION_PROMPT_TITLE = カスタム接続
USERNAME_PROMPT = ユーザーネームを入力してください\:
PASSWORD_PROMPT = パスワードを入力する\:
IP_PROMOT = サーバーIPを入力します（ポートなし）\:
PORT_PROMPT = サーバーポートを入力してください\:
DATABASE_PROMPT = データベース名を入力してください\:
CONNECTION_STATUS = 接続状態
INSERTION_TOOLTIP = テーブルには、選択したテーブルへのすべての挿入または選択したユーザーのすべての挿入が表示されます
DELETION_TOOLTIP = テーブルには、選択したテーブルのすべての削除または選択したユーザーのすべての削除が表示されます
UPDATE_TOOLTIP = テーブルには、選択したテーブルのすべての更新または選択したユーザーのすべての更新が表示されます
VIEW_TOOLTIP = テーブルには、選択したテーブルのすべての選択または選択したユーザーのすべての選択が表示されます
CONNECT_TOOLTIP = データベースに接続します
DISCONNECT_TOOLTIP = データベースから切断します
CUSTOM_CONNECT_TOOLTIP = カスタム接続用のウィンドウを開きます
LOAD_CONFIG_TOOLTIP = 選択したファイルから構成をロードします
SAVE_CONFIG_TOOLTIP = 選択したファイルに構成を保存します
HELP_TOOLTIP = ヘルプウィンドウを開きます
CLEAR_TOOLTIP = 選択したデータをクリアします
SAVE_CONFIG_PROMPT = 構成が正常に保存されました
LOAD_CONFIG_PROMPT = 構成が正常にロードされました
FILE_ERROR = 操作中にエラーが発生しました
CONNECTION_ERROR = あなたはすでに接続されています！
CONNECTION_SUCCESSFUL = 接続が確立されました！
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = 日時\:
CONTENT = コンテンツ\:
FILE_TYPE_NAME = CFG ファイル (*.cfg)
FILE_TYPE_EXTENSION = *.cfg
