NA = N/A
NO_DATA_SELECTED = Nimate še nič.
CONNECT = Zahakli se
DISCONNECT = Odhakli se
CUSTOM_CONNECT = Hakelj po meri
SERVER_INFO = Info\:
SERVER_USER = Nucač\:
SERVER_IP = IP od srvrja\:
SERVER_PORT = Vrata od srvrja\:
SERVER_DATABASE = Zbirka podatkov\:
LOAD_CONFIG = Nastavi nastavitve
SAVE_CONFIG = Sejvi nastavitve
HELP = Pumoč
CLEAR_SELECTION = Spuci
TABLE_INFO = Info u zbrani array\:
TABLE_CREATOR = Stvaritelj kreacije\:
TABLE_DELETOR = Izvajalec izbrisa\:
TABLE_CREATION_DATE = Prvi dan\:
TABLE_DELETION_DATE = Razodetje\:
INSERTIONS = Notmetanje\:
UPDATES = Notrihtanje\:
VIEWS = Vnjemanje\:
DELETIONS = Vnvzemanje\:
ALL_TABLES = Vse array\:
ALL_USERS_IP = Vsi nucači (IP)\:
ALL_USERS_USERNAME = Vsi nucači (nucaški nejm)\:
SELECTED_TABLES = Arrayi unga nucača\:
SELECTED_USERS_IP = Nucači une arraya (IP)\:
SELECTED_USERS_USERNAME = Nucači une arraya (nucaški ime)\:
EXIT = Vn it
SETTINGS = Windows32
APLICCATION_THEME = Zunanja struktura pesmi
DARK_THEME = Tma
LIGHT_THEME = Luč
APPLICATION_LANGUAGE = Ingliš?
SL_LANGUAGE = Slovenščina
EN_LANGUAGE = English
DE_LANGUAGE = Deutsch
JP_LANGUAGE = 日本
CN_LANGUAGE = 中文
RU_LANGUAGE = русский
HR_LANGUAGE = Hrvatski
KC_LANGUAGE = Mistični
CUSTOM_CONNECTION_PROMPT_TITLE = Hakelj po meri
USERNAME_PROMPT = Vnesi nucaško ime\:
PASSWORD_PROMPT = Not dej\:
IP_PROMOT = Vnesi IP naslov srvrja (brez urat)\:
PORT_PROMPT = Vnesi urata srvrja\:
DATABASE_PROMPT = Vnesi ime zbirke podatkov\:
CONNECTION_STATUS = Staje asociacije
INSERTION_TOOLTIP = Array prikazuje vsa vstavljanja v izbrani array ali vsa notmetanja
DELETION_TOOLTIP = Array prikazuje vsa brisanja v izbrani array ali vsa vnvzemanja
UPDATE_TOOLTIP = Array prikazuje vsa ažuriranja v izbrani array ali vsa notrihtanja izbranega
VIEW_TOOLTIP = Array prikazuje vsa ogledovanja v izbrani array ali vsa vnjemanja izbranega
CONNECT_TOOLTIP = Vzpostavi asociacijo z bazo podatko
DISCONNECT_TOOLTIP = Intervenira asociacijo z bazo podatkov
CUSTOM_CONNECT_TOOLTIP = Ofna okno za notmetanje podatkov za hakelj po meri
LOAD_CONFIG_TOOLTIP = Nastavi nastavitve iz izbrane fajle
SAVE_CONFIG_TOOLTIP = Sejva trnutne nastavitve v fajl
HELP_TOOLTIP = Pukaše pumoč
CLEAR_TOOLTIP = Pomete pudatke
SAVE_CONFIG_PROMPT = Sm shranu, nej te ne skrbi!
LOAD_CONFIG_PROMPT = Sm nalšu, lah greš spat!
FILE_ERROR = Pa kva delate?????? To nej vrejdi!
CONNECTION_ERROR = NEEEEEE Delaaaaaaa!!!!!!!!!
CONNECTION_SUCCESSFUL = Delaaaaaaa!!!!!!!!!
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = Tok k učer ub istem cajtu\:
CONTENT = Nč\:
FILE_TYPE_NAME = CFG falji (*.cfg)
FILE_TYPE_EXTENSION = *.cfg
