NA = N/A
NO_DATA_SELECTED = Данные не выбраны.
CONNECT = Подключить
DISCONNECT = Отключить
CUSTOM_CONNECT = На заказ
SERVER_INFO = Информация о сервере\:
SERVER_USER = Имя пользователя\:
SERVER_IP = IP пользователя\:
SERVER_PORT = Порт сервера\:
SERVER_DATABASE = База данных\:
LOAD_CONFIG = Загрузить
SAVE_CONFIG = Сохранить
HELP = Сохранить
CLEAR_SELECTION = Очистить выбор
TABLE_INFO = Информация о выбранной таблице\:
TABLE_CREATOR = Автор создания\:
TABLE_DELETOR = Автор удаления\:
TABLE_CREATION_DATE = Дата создания\:
TABLE_DELETION_DATE = Дата удаления\:
INSERTIONS = Вставки\:
UPDATES = Обновления\:
VIEWS = Выборы\:
DELETIONS = Удаления\:
ALL_TABLES = Все таблицы\:
ALL_USERS_IP = Все пользователи (IP)\:
ALL_USERS_USERNAME = Все пользователи (имя)\:
SELECTED_TABLES = Выбранные пользовательские таблицы\:
SELECTED_USERS_IP = Выбранные пользователи таблицы (IP)\:
SELECTED_USERS_USERNAME = Выбранные пользователи таблицы (имя)\:
EXIT = Выход
SETTINGS = Настройки
APLICCATION_THEME = Тема приложения
DARK_THEME = Тьма
LIGHT_THEME = Свет
APPLICATION_LANGUAGE = Язык приложения
SL_LANGUAGE = Slovenski
EN_LANGUAGE = English
DE_LANGUAGE = Deutsch
JP_LANGUAGE = 日本
CN_LANGUAGE = 中文
RU_LANGUAGE = русский
HR_LANGUAGE = Hrvatski
KC_LANGUAGE = Mistični
CUSTOM_CONNECTION_PROMPT_TITLE = Индивидуальное подключение
USERNAME_PROMPT = Введите имя пользователя\:
PASSWORD_PROMPT = Введите пароль\:
IP_PROMOT = Введите IP-адрес сервера (без порта)\:
PORT_PROMPT = Введите порт сервера\:
DATABASE_PROMPT = Введите имя базы данных\:
CONNECTION_STATUS = Статус подключения
INSERTION_TOOLTIP = В таблице показаны все вставки в выбранной таблице или все вставки выбранного пользователя
DELETION_TOOLTIP = В таблице показаны все удаления в выбранной таблице или все удаления выбранного пользователя
UPDATE_TOOLTIP = В таблице показаны все обновления в выбранной таблице или все обновления выбранного пользователя
VIEW_TOOLTIP = В таблице показаны все выборки в выбранной таблице или все выборки выбранного пользователя
CONNECT_TOOLTIP = Подключается к базе данных
DISCONNECT_TOOLTIP = Отключается от базы данных
CUSTOM_CONNECT_TOOLTIP = Открывает окно для настраиваемого подключения
LOAD_CONFIG_TOOLTIP = Загружает конфигурацию из выбранного файла
SAVE_CONFIG_TOOLTIP = Сохраняет конфигурацию в выбранном файле
HELP_TOOLTIP = Открывает окно справки
CLEAR_TOOLTIP = Очищает выбранные данные
SAVE_CONFIG_PROMPT = Конфигурация успешно сохранена
LOAD_CONFIG_PROMPT = Конфигурация успешно загружена
FILE_ERROR = Произошла ошибка при выполнении операции
CONNECTION_ERROR = Вы уже подключены!
CONNECTION_SUCCESSFUL = Соединение установлено!
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = Время и дата\:
CONTENT = Содержание\:
FILE_TYPE_NAME = CFG файлы (*.cfg)
FILE_TYPE_EXTENSION = *.cfg
