NA = N/A
NO_DATA_SELECTED = Podatki še niso bili izbrani.
CONNECT = Poveži se
DISCONNECT = Prekini povezavo
CUSTOM_CONNECT = Povezava po meri
SERVER_INFO = Informacije o strežniku\:
SERVER_USER = Uporabnik\:
SERVER_IP = IP strežnika\:
SERVER_PORT = Vrata strežnika\:
SERVER_DATABASE = Podatk. baza\:
LOAD_CONFIG = Naloži konfiguracijo
SAVE_CONFIG = Shrani konfiguracijo
HELP = Pomoč
CLEAR_SELECTION = Počisti izbiro
TABLE_INFO = Informacije o izbrani tabeli\:
TABLE_CREATOR = Avtor kreacije\:
TABLE_DELETOR = Avtor izbrisa\:
TABLE_CREATION_DATE = Datum nastanka\:
TABLE_DELETION_DATE = Datum izbrisa\:
INSERTIONS =Vstavljanja\:
UPDATES = Ažuriranja\:
VIEWS = Ogledovanja\:
DELETIONS = Brisanja\:
ALL_TABLES = Vse tabele\:
ALL_USERS_IP = Vsi uporabniki (IP)\:
ALL_USERS_USERNAME = Vsi uporabniki (uporabniško ime)\:
SELECTED_TABLES = Tabele izbranega uporabnika\:
SELECTED_USERS_IP = Uporabniki izbrane tabele (IP)\:
SELECTED_USERS_USERNAME = Uporabniki izbrane tabele (uporab. ime)\:
EXIT = Izhod
SETTINGS = Nastavitve
APLICCATION_THEME = Tema aplikacije
DARK_THEME = Temno
LIGHT_THEME = Svetlo
CUSTOM_CONNECTION_PROMPT_TITLE = Povezava po meri
USERNAME_PROMPT = Vnesi uporabniško ime\:
PASSWORD_PROMPT = Vnesi geslo\:
IP_PROMOT =Vnesi ip naslov strežnika (brez vrat)\:
PORT_PROMPT = Vnesi vrata strežnika\:
DATABASE_PROMPT = Vnesi ime podatkovne baze\:
CONNECTION_STATUS = Stanje povezave
INSERTION_TOOLTIP = Tabela prikazuje vsa vstavljanja v izbrani tabeli ali vsa vstavljanja
DELETION_TOOLTIP = Tabela prikazuje vsa brisanja v izbrani tabeli ali vsa brisanja
UPDATE_TOOLTIP = Tabela prikazuje vsa ažuriranja v izbrani tabeli ali vsa ažuriranja izbranega
VIEW_TOOLTIP = Tabela prikazuje vsa ogledovanja v izbrani tabeli ali vsa ogledovanja izbranega
CONNECT_TOOLTIP = Vzpostavi povezavo s podatkovno bazo
DISCONNECT_TOOLTIP = Prekine povezave s podatkovno bazo
CUSTOM_CONNECT_TOOLTIP = Odpre okno za vnos podatkov za povezavo po meri
LOAD_CONFIG_TOOLTIP = Naloži konfiguracijo iz izbrane datoteke
SAVE_CONFIG_TOOLTIP = Shrani trenutno konfiguracijo v datoteko
HELP_TOOLTIP = Prikaže okno za pomoč uporabniku
CLEAR_TOOLTIP = Pobriše izbrane podatke
SAVE_CONFIG_PROMPT = Konfiguracija uspešno shranjena
LOAD_CONFIG_PROMPT = Konfiguracija uspešno naložena
FILE_ERROR = Prišlo je do napake med izvajanjem želene operacije
CONNECTION_ERROR = Povezava je že vzpostavljena!
CONNECTION_SUCCESSFUL = Povezava uspešno vzpostavljena!
HELP_URL = https\://gitlab.vegova.si/SerhioN/podjetje-sqmalsys/-/tree/Asi-FX/Asi-FX
DATE_AND_TIME = Čas in datum\:
CONTENT = Vsebina\:
FILE_TYPE_NAME = CFG datoteke (*.cfg)
FILE_TYPE_EXTENSION = *.cfg
